<h3>{{post.title}}</h3>
<p>{{post.user.username}}</p>
<p>{{format_date post.created_at}}
    {{#if post.edited}} (edited on {{format_date post.updated_at}}){{/if}}
</p>
<div>{{post.content}}</div>
<h4>Comments:</h4>
{{#each comments as |comment|}}
{{> comment-details}}
{{/each}}
{{#if userInfo.loggedIn}}
<h4>Add a comment:</h4>
<form>
    <textarea id="newComment"></textarea>
    <button id="commentBtn">Submit</button>
</form>
<script src="/js/newcomment.js"></script>
{{else}}
<a href="/login">Log in</a> to post your thoughts.
{{/if}}
